name: Auto commit

on:

  push:
    branches:
      - master
      
  schedule:
  - cron: "0 7,0,11,18 * * *" # See https://crontab.guru/#0_7,9,11_*_*_1,3

jobs:
  auto_commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2      
        with:
         persist-credentials: false
         fetch-depth: 0

      - name: Modify last update
        run: |
          d=`date '+%Y-%m-%dT%H:%M:%SZ'`
          echo $d > LAST_UPDATED
          
      - name: Commit changes
        run: |
          git config --local user.email "suryaelidanto@gmail.com"
          git config --local user.name "suryaa6666"
          git add -A
          
          arr[0]="chore(bot): He can who thinks he can, and he can't who thinks he can't. This is an inexorable, indisputable law. —Pablo Picasso"
          arr[1]="chore(bot): True friendship can afford true knowledge. It does not depend on darkness and ignorance. —Henry David Thoreau"
          arr[2]="chore(bot): Difficulties are things that show a person what they are. —Epictetus"
          arr[3]="chore(bot): Wisdom is always an overmatch for strength. —Phil Jackson"
          arr[4]="chore(bot): Happiness depends upon ourselves. —Aristotle"
          arr[5]="chore(bot): For it was not into my ear you whispered, but into my heart. It was not my lips you kissed, but my soul. —Judy Garland"
          arr[6]="chore(bot): Ever tried. Ever failed. No matter. Try Again. Fail again. Fail better. —Samuel Beckett"
          arr[7]="chore(bot): Be here now. Be someplace else later. Is that so complicated? —David Bader"
          arr[8]="chore(bot): Friendship is one mind in two bodies. —Mencius"
          arr[9]="chore(bot): It is better to have enough ideas for some of them to be wrong, than to be always right by having no ideas at all. —Edward de Bono"
          
          rand=$[$RANDOM % ${#arr[@]}]
          
          git commit -m "${arr[$rand]}"
          
      - name: GitHub Push
        uses: ad-m/github-push-action@v0.5.0
        with:
          force: true
          directory: "."
          github_token: ${{ secrets.GITHUB_TOKEN }}
